@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EvolveSans";
  src: url("/fonts/light.otf") format("otf");
  font-weight: normal;
}

@font-face {
  font-family: "EvolveSans";
  src: url("/fonts/bold.otf") format("otf");
  font-weight: bold;
}
@font-face {
  font-family: "EvolveSans";
  src: url("/fonts/medium.otf") format("otf");
  font-weight: medium;
}

body {
  font-family: "EvolveSans", sans-serif;
}

input[type="text"],
input[type="email"] {
  @apply p-3 border border-slate-400 rounded-full outline-indigo;
}
